.hero.is-dark {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.88)
  ), url('/static/landing-images/social-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro {
  padding: 5rem 0;
  text-align: center;
}
.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
hr {
  border-style: none;
  border-width: 0;
  margin: 0 auto 38px;
  background-color: #ff634a;
  width: 100px;
  height: 5px;
}
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-reddit {
  color: #FF5700	;
}
.fa-twitch {
  color: #4b367c;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
     transform: translateY(-30px);
  }
  60% {
     transform: translateY(-15px);
  }
}
.arrow {
  -webkit-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.member-desc {
  display: flex;
}
.team .column .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.team .column .card-footer {
  margin-top: auto;
}
.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: white;
}
