.linked {
  color: #08cb0c!important;
  margin-right: .5rem;
}
.twitter-img {
  height: 300px;
  width: auto;
}
.vue-progress-path .progress {
  stroke: #54a9ff;
}

.shiny {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    color: #00ff7f;
  }
  100% {
    color: #ff0000;
  }
}
