.linked {
  color: #08cb0c!important;
  margin-right: .5rem;
}
.twitter-img {
  height: 300px;
  width: auto;
}
.vue-progress-path .progress {
  stroke: #54a9ff;
}
.card-image .has-text-centered{
  padding-top: 15px
}
