.feeds
  font-family: $secondary-heading-font-family

.subreddit, .users, .channel
  color: $dark-blue

.creator
  color: $green

.member-linked-accounts
  margin: 0 10px

.icon.link
  margin: 0 10px

.ty-animation
  overflow: hidden

.ty-content
  position: relative
  left: 15px
  bottom: 40px
  width: 100%
