.feeds
  font-family: $secondary-heading-font-family

.subreddit
  color: $dark-blue

.creator
  color: $green

.notices.is-top
  .snackbar
    .text
      color: $white
      font-family: $secondary-heading-font-family
      margin: 0px

#nickImg
  min-height: 348px
